<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>static_test</title>
    <style>
        div{
            display: flex;
            width: 200px;
            height: 200px;
            justify-content: center; /* 主轴居中 */
            flex-wrap: wrap;         /* 开启换行 */
            align-content: center;   /* 整体居中 */
        }
    </style>
</head>
<body>
    <div>
        <img src="/static/img.png" alt="">
    </div>
</body>
</html>